@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --palette-base: #240031;
  --palette-shade: #26093a;
  --palette-pink: #fc2bee;
  --palette-purple: #8f0dff;
  --palette-white: #ffffff;
}

.stroke {
  -webkit-text-stroke: 1px var(--palette-white);  
}

body {
  margin: 0;
  padding: 0;  
  background-image: url('./assets/Images/Background.jpg');
  background-repeat: no-repeat; 
  background-position: center center; 
  background-color: var(--palette-base);
  font-family: "Montserrat", sans-serif;

}